[req]
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
C = US
ST = CA
L = Sunnyvale
O = Baidu
OU = X-Lab
CN = Yulong Zhang

[oasp]
authorityInfoAccess = OCSP;URI:https://oasp.yulongzhang.com