[req]
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
C = US
ST = CA
L = Sunnyvale
O = Demo
OU = Demo
CN = oasp.your.domain

[ v3_ca ]
subjectKeyIdentifier=hash
basicConstraints = CA:true
subjectAltName = DNS:oasp.your.domain